<p style="font-size: 22px;">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<p> Оригинальный текст карты: </p>
<% @random_card.to_a.each do |random_card| %>
  <%= random_card.original_text %>
  <%= form_tag({controller: "home", action: "check_translation"}) do %>
    <%= label_tag(:q, "Введите перевод:") %>
    <%= text_field_tag(:q) %>
    <%= hidden_field_tag 'card_id', random_card.id %>
    <%= submit_tag("Проверить") %>
  <% end %>
<% end %>
