<table>
  <tr>
    <th>Слово</th>
    <th>Перевод</th>
    <th>Дата просмотра<th>
  </tr>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to "редактировать", edit_card_path(card) %></td>
      <td><%= link_to "удалить", card_path(card), method: :delete %>
    </tr>
  <% end %>
</table>
